<script setup lang="ts">
import { Image } from "@/models"
import { computed } from "vue";

const props = defineProps<{
    dialogImage: Image | null | "error"
}>()

const isDialogLoaded = computed(() =>
    props.dialogImage !== null && props.dialogImage !== "error"
)

</script>

<template>
    <v-card :title="isDialogLoaded ? (dialogImage as Image).name : 'ładowanie'">
        <template v-slot:text>
            <div v-if="isDialogLoaded" style="width: 512px;" class="mx-auto">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <rect v-for="rect in (dialogImage as Image).rectangles" :x="rect.x" :y="rect.y" :width="rect.width"
                        :height="rect.height" :fill="rect.color" />
                </svg>
            </div>
            <div v-else-if="dialogImage == null" class="text-center">
                <h1>
                    <v-icon icon="mdi-timer-sand" />
                </h1>
            </div>
            <div v-else class="text-center">
                <h1>
                    <v-icon icon="mdi-server-network-off" />
                    błąd!
                </h1>
            </div>
        </template>
    </v-card>
</template>
