<script setup lang="ts">
import { ref, computed, watch } from "vue"
import { Image, Tag } from "../models"
import { getImages, getTags, getImage } from "../api"

const images = ref(await getImages())
const tags = ref(await getTags())
const tagFilter = ref([] as Tag[])

const pageLength = 5
const currentPage = ref(1)

function intersect<T>(a: T[], b: T[]): boolean {
    return a.some(x => b.includes(x))
}

function isFiltered(image: Image): boolean {
    const imageTagIds = image.tags.map(t => t.id)
    const tagFilterIds = tagFilter.value.map(t => t.id)
    return intersect(imageTagIds, tagFilterIds)
}

const filteredImages = computed(() => {
    return tagFilter.value.length == 0
        ? images.value
        : images.value.filter(isFiltered)
})

const pageCount = computed(() => Math.ceil(filteredImages.value.length / pageLength))

const pageImages = computed(() => {
    const from = (currentPage.value - 1) * pageLength
    const to = (currentPage.value) * pageLength

    return filteredImages.value.slice(from, to)
})

const selectedImageId = ref(0)
const isImageSelected = ref(false)
const dialogImage = ref(null as null | Image | "error")

watch(isImageSelected, newValue => {
    if (!newValue) {
        selectedImageId.value = 0
    }
})
watch(selectedImageId, async newValue => {
    if (newValue !== 0) {
        isImageSelected.value = true

        const image = await getImage(newValue, true).catch(() => "error" as const)

        // The same dialog is still open.
        if (selectedImageId.value == newValue) {
            dialogImage.value = image
        }
    } else {
        dialogImage.value = null
    }
})

async function loadImages() {
    images.value = await getImages()
}
</script>

<template>
    <NewImagesBanner @reloadImages="loadImages" />

    <v-combobox class="mt-8" v-model="tagFilter" :items="tags" multiple chips item-title="name"
        label="filtruj po tagach" />

    <v-pagination :length=pageCount v-model="currentPage" />

    <v-list lines="two">
        <ImageListItem v-for="image in pageImages" :image="image" @selectImage="(id: number) => selectedImageId = id" />
    </v-list>

    <v-dialog v-model="isImageSelected" max-width="800">
        <ImageViewDialog :dialogImage="dialogImage" />
    </v-dialog>
</template>
