<script setup lang="ts">
import { Image } from "@/models"

defineProps<{
    image: Image,
}>()

const emit = defineEmits<{
    selectImage: [id: number]
}>()

function formatTags(image: Image): string {
    const separator = ", "
    return image.tags.map(t => t.name).join(separator)
}
</script>

<template>
    <v-list-item :title="image.name" :subtitle="formatTags(image)">
        <template v-slot:append>
            <v-btn @click="emit('selectImage', image.id)" prepend-icon="mdi-image-outline" rounded variant="outlined"
                class="text-none">
                wyświetl
            </v-btn>
        </template>
    </v-list-item>
</template>>
