<script setup lang="ts">
import { setupSocket } from "@/api";
import { computed, ref } from "vue"

const emit = defineEmits<{ "reloadImages": [] }>()
const newImagesCount = ref(0)

const newImagesText = computed(() => {
    const c = newImagesCount.value
    if (c === 1) {
        return "masz 1 nowy niezaładowany obrazek"
    } else if (1 <= c && c <= 4) {
        return `masz ${c} nowe niezaładowane obrazki`
    } else {
        return `masz ${c} nowych niezaładowanych obrazków`
    }
})

setupSocket(msg => {
    if (msg.tag == "imageCreate") {
        newImagesCount.value++
    }
})

</script>

<template>
    <v-banner v-if="newImagesCount > 0" class="mt-4" color="info" icon="mdi-alert-decagram" :text="newImagesText"
        lines="one">
        <template v-slot:actions>
            <v-btn @click="newImagesCount = 0; emit('reloadImages')">
                załaduj
            </v-btn>
        </template>
    </v-banner>
</template>
