<script setup lang="ts">
import { createImage } from "@/api";
import { ref } from "vue"

const newImageName = ref("")

async function submitNewImage() {
    const name = newImageName.value
    newImageName.value = ""

    await createImage(name)
}

</script>

<template>
    <v-text-field v-model="newImageName" clearable label="Tytuł nowego obrazka" append-icon="mdi-send"
        @click:append="submitNewImage" @keyup.enter="submitNewImage" />
</template>
